{% load static %} {% include "includes/header.html" %} {% include "includes/sidebar.html" %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Roles</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="Level.html">Roles</a></li>
                        <li class="breadcrumb-item active">Add Roles</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">

                        <form method="POST">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Roles Information</span></h5>
                                </div>
                                <div class="form-group">
                                    <label>Class Name</label>
                                    <input type="text" name="name" class="form-control">
                                </div>
                                {% for perm in permission %}
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <input type="checkbox" name="{{perm.name}}" value="{{perm.id}}"
                                            class="checkmail">{{perm.name}}
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% load static %} {% include "includes/footer.html" %}